.card {
    background: #181818;
    padding: 14px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.card:hover {
    background: #202020;
    transform: translateY(-3px);
}

.album-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.album-name {
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.album-artist {
    font-size: 12px;
    color: #b3b3b3;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    margin-top: 20px;
}